<li data-type="button" data-key="undo"><a class="grouped-left"><span class=" buttonicon buttonicon-undo" data-l10n-id="pad.toolbar.undo.title"></span></a>
</li>
<li data-type="button" data-key="redo"><a class="grouped-right"><span class=" buttonicon buttonicon-redo" data-l10n-id="pad.toolbar.redo.title"></span></a>
</li>






